:root {
  --primari-text-color: #757575;
  --tittle-text-color: #212121;
  --acsent-color: #2196f3;
  --second-acsent-color: #ffffff;
  --primary-bg-color: #ffffff;
  --second-bg-color-bt: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primari-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link,
.logo,
.address {
  color: inherit;
  text-decoration: none;
  font-style: inherit;
}

/* Логотип */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo .part,
.logo:hover {
  color: var(--acsent-color);
}

/* Навігація */

.site-nav .link,
.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.auth-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:focus,
.site-nav .link.current {
  color: var(--acsent-color);
}

/* Герой */
.hero-title {
  color: var(--second-acsent-color);
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--second-acsent-color);
  background-color: var(--acsent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* Заголовки секцій */
.section-title {
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

/* Наші переваги */
.feature-list .title {
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Наша коанда */
.team-list {
  text-align: center;
}

.team-list .title {
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 16px;
}

.team-list .position {
  font-size: 16px;
}

/* ===============  Портфоліо ============= */

/* Фільтр */
.button {
  color: var(--tittle-text-color);
  background-color: var(--second-bg-color-bt);
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button:hover,
.button:focus,
.button.current {
  color: var(--second-acsent-color);
  background-color: var(--acsent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Наші роекти */
.project-list .title {
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list .type {
  font-size: 16px;
  line-height: 1.87;
}
/* Основний колір  #757575 */
/* Вторинний колір #212121 */
/* Акцент #2196F3 */
/* Другий акцент #FFFFFF */
/* Чорний колір #000000 */
/* Фон основний #FFFFFF; */
/* Фон додатковий #2F303A  */
/* Другий фон кнопок #F5F4FA  */
